{% extends 'base.html.twig' %}

{% block title %}
	Hello ClassroomController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h2>
			Classrooms: <a style='float:right' href="{{ path('add-classroom') }}"><i class="fas fa-plus-circle"></i></a>
		</h2>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">
						ID
					</th>
					<th scope="col">
						Name
					</th>
					<th scope="col">
						Actions
					</th>
				</tr>
			</thead>
			<tbody>
				{% for classroom in classrooms %}
					<tr>
						<td>
							{{ classroom.id }}
						</td>
						<td>
							{{ classroom.name }}
						</td>
						<td>
							<a href="{{ path('view-classroom', {'id': classroom.id}) }}">
								<i class="far fa-eye"></i>
							</a>
							<a href="{{ path('add-classroom', {'id': classroom.id}) }}">
							<i class="fas fa-edit"></i>
							</a>
							<a href="{{ path('delete-classroom', {'id': classroom.id}) }}">
							<i class="fas fa-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
